p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Poppins", sans-serif;
    color: #22343D;
    background-color: #ffffff;
    margin: 0;
}
/* .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
} */
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.button{
    background-color: inherit;
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 352px;
    margin: 0 auto;
    padding: 17px 30px;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
}
.logo-link{
    display: flex;
    color: inherit;
}
.logo-link h1{
    margin-left: 8px;
}
.logo-link h2{
    margin-left: 8px;
}
.mob-menu-icon {
    fill: #02897A;
}

/* get-started */
.get-started-container{
    max-width: 369px;
    margin: 0 auto; 
    padding-top: 30px;
    padding-bottom: 100px;
}
.get-started-img{
    margin: 0 auto; 
}
.get-started-box{
    margin: 0 auto;
    margin-top: 10px;
}
.get-started-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
}
.get-started-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 326px;
    margin: 16px auto;
}
.get-started-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 335px;
    margin: 0 auto; 
}
.get-started-button{
    box-shadow: none;
    text-shadow: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #02897A;
    border-radius: 4px;
    width: 142px;
    min-height: 53px;
}
.get-started-link span{
    display: inline;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #02897A;
}

/* Sign up */
.sign-up-contaner {
    max-width: 331px;
    margin: 0 auto; 
    padding-top: 16px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}
.sign-up-list {
    text-align: center;
    max-width: 240px;

    margin-top: 50px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.sign-up-list-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 8px;
}
.sign-up-list-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    width: 226px;
}
.sign-up-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #02897A;
    border-radius: 4px;
    width: 175px;
    height: 53px;
}

/* footer */
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-list{
    display: flex;
    gap: 16px;
    width: 152px;
    margin-top: 25px;
}
.social-icon:hover{
    stroke: #247a70;
}
.footer-resource{
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-resource-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}
.footer-resource-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.footer-resource-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    text-align: center;
    color: inherit;
}
/* footer legal stuff */
.footer-legal-stuff{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-legal-stuff-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
.footer-legal-stuff-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.footer-legal-stuff-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    text-align: center;
    color: inherit;
}